.search-container {
display: flex;
    justify-content: center;
}

.search-bar {
    background: #171C31;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    color: white;
    outline: none;
    width: 20%;
}

.search-button {
    color: white;
    border-radius: 0 8px 8px 0;
    background: #171C31;
    border: none;
    padding: 10px;
}


