* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  color: #fff;
}

h1 {
  font-size: 40px;
}

p,
a {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #006FFF;
  font-weight: bold;
  font-size: 20px;
}

/* BODY */

body {
  background-color: #111526;
}

.main-container {
  margin: 40px 200px;
}
