* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  color: #fff;
}

p,
a {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #B06AF6;
  font-weight: bold;
  font-size: 20px;
}

.upload {
 color: #fff;
  background: #007bff;
  padding: 10px 20px;
  border-radius: 20px;
}

/* NAV */

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-list li {
  padding: 0 20px 40px 20px;
}

/* BODY */

body {
  background-color: #111526;
}

.main-container {
  margin: 40px 200px;
}
